<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]-By-Peel</title>
    <link href="~/lib/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/lib/jquery-3.6.0.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
